apiVersion: v1
kind: ConfigMap
metadata:
  name: app1-code
data:
  main.py: |
    from fastapi import FastAPI

    app = FastAPI()

    @app.get("/")
    def read_root():
        return {"**!!!Hello???!": "Worrrld!", "with": "more", "and": "other"}
